<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.trolleg.faces"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:theme="@style/AppTheme">
        <!-- android:label="@string/app_name" android:theme="@style/Theme.AppCompat.Light.NoActionBar"-->
        <!-- android:label="@string/app_name" android:theme="@android:style/Theme.DeviceDefault.Light"-->
        
        <activity
            android:name="ru.trolleg.faces.activities.NavigationDrawer"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> 
        
        <activity
            android:name="ru.trolleg.faces.activities.MainActivity"
            android:label="@string/act_people_name"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name="ru.trolleg.faces.activities.PeopleActivity"
            android:label="@string/act_people_name"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:label="@string/act_faces_name" 
            android:name="ru.trolleg.faces.activities.DisplayPersonPhotos">
        </activity>
        <activity
            android:label="@string/act_common_photo_name"
            android:name="ru.trolleg.faces.activities.DisplayCommonPhoto">
        </activity>
        <activity
            android:label="@string/help"
            android:name="ru.trolleg.faces.activities.HelpActivity">
        </activity>
        <service android:name=".FaceFinderService" />
        <activity
            android:label="@string/act_people_name"
            android:name="ru.trolleg.faces.activities.FacesActivity">
        </activity>
        <activity
            android:label="@string/act_people_name"
            android:name="ru.trolleg.faces.activities.PhotoGalleryCommon">
        </activity>
        <activity
            android:label="@string/act_people_name"
            android:name="ru.trolleg.faces.activities.ShowCommonPhoto">
        </activity>
        <activity
            android:label="@string/act_people_name"
            android:name="ru.trolleg.faces.activities.PhotoGridFragment">
        </activity>
        <activity
            android:label="поиск по галерее"
            android:name="ru.trolleg.faces.activities.Fragment2">
        </activity>
        <activity
            android:label="поиск по галерее"
            android:name="ru.trolleg.faces.activities.Fragment3">
        </activity>
        </application>

</manifest>
